database.ini
.virtualenv
__pycache__
.vscode

djangonids/mlnids/settings.py
dataset/CICIDS2017.csv
dataset/Benign-Monday-no-metadata.parquet
dataset/DoS-Wednesday-no-metadata.parquet
dataset/Botnet-Friday-no-metadata.parquet
dataset/Bruteforce-Tuesday-no-metadata.parquet
dataset/Portscan-Friday-no-metadata.parquet
dataset/Infiltration-Thursday-no-metadata.parquet
dataset/WebAttacks-Thursday-no-metadata.parquet
dataset/DDoS-Friday-no-metadata.parquet

